[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
html2text = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.7"
